{:paths ["src" "test"]
 :deps {slipset/deps-deploy {:mvn/version "0.2.2"}
        babashka/fs {:mvn/version "0.1.11"}
        io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
 :aliases {:release {:exec-fn release/-main}}}
